<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ngl.designer.modules.dao.ContractDao">

    <sql id="select_contract_byCon_where">
        <if test="contractInfo.id != null and contractInfo.id != ''">AND a.id LIKE CONCAT('%',#{contractInfo.id},'%')
        </if>
        <if test="contractInfo.name != null and contractInfo.name != ''">AND a.name LIKE
            CONCAT('%',#{contractInfo.name},'%')
        </if>
    </sql>

    <select id="select_contract_byCon" parameterType="java.util.HashMap"
            resultType="com.ngl.designer.modules.pojo.ContractEx">
        SELECT
        a.id,
        a.name,
        (SELECT b.name FROM mod_contract_status b WHERE a.status = b.id) AS 'status',
        (SELECT c.name FROM mod_project c WHERE a.projectId = c.id) AS 'project'
        FROM mod_contract a
        WHERE 1=1
        <include refid="select_contract_byCon_where"></include>
        LIMIT #{start},#{end}
    </select>

    <select id="select_contract_count_byCon" parameterType="java.util.HashMap"
            resultType="Long">
        SELECT COUNT(*)
        FROM mod_contract a
        WHERE 1 = 1
        <include refid="select_contract_byCon_where"></include>
    </select>

    <insert id="insert_mod_contract" parameterType="com.ngl.designer.modules.pojo.ContractEx">
        INSERT INTO mod_contract(id,name,status,projectId)
        VALUES(#{id},#{name},#{status},#{project})
    </insert>

    <insert id="insert_mod_contract_detail" parameterType="com.ngl.designer.modules.pojo.ContractEx">
        INSERT INTO mod_contract_detail(id,userName,userType,userTel,cost,costType,supervisorId,projectExp,context,filePath)
        VALUES(#{id},#{userName},#{userType},#{userTel},#{cost},#{costType},#{supervisor},#{projectExp},#{context},#{filePath})
    </insert>

    <select id="select_mod_contract_detail_ById" parameterType="java.lang.String"
            resultType="com.ngl.designer.modules.pojo.ContractEx">
        SELECT
            a.id,
            (SELECT b.name FROM mod_contract b WHERE b.id = a.id) AS 'name',
            a.userName,
            a.userType,
            a.userTel,
            (SELECT b.projectId FROM mod_contract b WHERE b.id = a.id) AS 'project',
            a.cost,
            a.costType,
            a.supervisorId AS 'supervisor',
            a.projectExp,
            a.context,
            a.filePath
        FROM mod_contract_detail a
        WHERE a.id = #{_parameter}
    </select>

    <select id="select_selectProject" resultType="com.ngl.designer.utils.KeyValueTemplate">
        SELECT
            a.id AS 'key',
            a.name AS 'value'
        FROM mod_project a
        WHERE a.activeStatus = '1'
    </select>

    <select id="select_selectSupervisor" resultType="com.ngl.designer.utils.KeyValueTemplate">
        SELECT
            a.id AS 'key',
            a.name AS 'value'
        FROM supervisor a
    </select>

    <update id="update_mod_contract_status_2_ById" parameterType="java.lang.String">
        UPDATE mod_contract a SET
        a.status = 2
        WHERE a.id = #{_parameter}
    </update>

    <update id="update_mod_contract_status_3_ById" parameterType="java.lang.String">
        UPDATE mod_contract a SET
        a.status = 3
        WHERE a.id = #{_parameter}
    </update>

    <update id="update_mod_contract_ById" parameterType="com.ngl.designer.modules.pojo.ContractEx">
        UPDATE mod_contract a SET
            a.name = #{name},
            a.projectId = #{project}
        WHERE a.id = #{id}
    </update>

    <update id="update_mod_contract_detail_ById" parameterType="com.ngl.designer.modules.pojo.ContractEx">
        UPDATE mod_contract_detail a SET
            a.userName = #{userName},
            a.userType = #{userType},
            a.userTel = #{userTel},
            a.cost = #{cost},
            a.costType = #{costType},
            a.supervisorId = #{supervisor},
            a.projectExp = #{projectExp},
            a.context = #{context},
            a.filePath = #{filePath}
        WHERE a.id = #{id}
    </update>

    <delete id="delete_mod_contract_ById" parameterType="java.lang.String">
        DELETE FROM mod_contract
        WHERE id = #{contractId}
    </delete>

</mapper>