<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    处理器映射器-->
    <!--    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>-->

    <!--    处理器适配器-->
    <!--    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>-->

    <!--    视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/page/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--    controller配置-->
    <!--    <bean name="/index.do" id="testController" class="com.ngl.designer.controller.TestController"></bean>-->

    <!--    简单url映射-->
    <!--    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">-->
    <!--        <property name="mappings">-->
    <!--            <props>-->
    <!--                <prop key="/index.do">testController</prop>-->
    <!--            </props>-->
    <!--        </property>-->
    <!--    </bean>-->

    <!--    自动加载RequestMappingHandlerMapping和RequestMappingHandlerAdapter-->
    <mvc:annotation-driven conversion-service="conversionService">
    </mvc:annotation-driven>
    <!--    自定义转化器，该配置方案适用于mvc:annotation-driven标签-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.ngl.project.converter.DateConverter"/>
                <bean class="com.ngl.project.converter.StringTrimConverter"/>
                <bean class="com.ngl.project.converter.JSONArrayConverter"/>
            </list>
        </property>
    </bean>

    <!--    扫描controller注解,多个包中间使用半角逗号分隔 -->
    <context:component-scan
            base-package="com.ngl.project.controller,com.ngl.designer.**.controller,com.ngl.designer.controller"/>
    <!--    注解映射器 -->
    <!--    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>-->
    <!--    注解适配器 -->
    <!--    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>-->

    <!--    拦截器-->
    <mvc:interceptors>
        <!--        登录信息-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/login*"/>
            <mvc:exclude-mapping path="/index*"/>
            <bean class="com.ngl.project.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
        <!--        权限校验-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/login*"/>
            <mvc:exclude-mapping path="/index*"/>
            <bean class="com.ngl.project.interceptor.AuthorityInterceptor"/>
        </mvc:interceptor>

        <!--        异常处理-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.ngl.project.interceptor.ErrorInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--    对静态资源文件的访问-->
    <mvc:default-servlet-handler/>
    <!--    <mvc:resources mapping="/images/**" location="/res/img/" cache-period="31556926"/>-->
    <!--    <mvc:resources mapping="/js/**" location="/res/js/" cache-period="31556926"/>-->
    <!--    <mvc:resources mapping="/css/**" location="/res/css/" cache-period="31556926"/>-->

</beans>